@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,500;0,700;1,600&display=swap');


body {
    font-family: 'Josefin Sans', sans-serif !important;
}

a {
    text-decoration: none !important;
}

.navbar-brand {
    width: 3rem !important;
}

#carosel {
    margin-top: 8rem;
    background-color: rgb(255, 164, 74);
}

.carousel-inner {
    width: 100% !important;
}

.carousel-item {
    width: 100% !important;
}

/* .carousel-inner .carousel-item img{
    height: 30rem;
    width: 100% ;
} */

.scrollToTop {
    z-index: 1000 !important;
    position: absolute;
    bottom: 65px;
    right: 30px;
}

.items {
    width: 200px;
    height: 55px;
    transition: ease 0.3s;
    background: rgb(0, 110, 255);
    color: rgb(255, 255, 255);
}

.items:hover {
    background: #ffc107;
    color: rgb(0, 110, 255);
}

#features h2 {
    font-size: 170%;
}


@media screen and (max-width:890px) {

}

@media screen and (max-width:767px) {
    .card .card-title{
        font-size: 1.2rem !important;
    }

}

@media screen and (max-width:496px) {
    .footNavItem {
        font-size: 4vw !important;
    }

    .scrollToTop i {
        font-size: 30px;
    }

    .addToCart {
        font-size: 3vw !important;
    }

    #products h1 {
        font-size: 30px !important;
    }

    #features p {
        display: none;
    }

    .card-body{
        padding: 2px !important;
    }

    .card-body .btn{
        font-size: 12px;
    }

    .productList .card{
        width: 10.8rem !important;
    }

    .navbar-toggler-icon {
        width: 1rem !important;
    }
}

@media screen and (max-width:390px) {
    .card .card-title{
        font-size: 0.8rem !important;
    }

}

@media screen and (max-width:364px) {

    #features .card {
        width: 8rem !important;
    }

    .productList .card{
        width: 9rem !important;
    }

    .navbar-brand {
        width: 2rem !important;
    }
}